<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="import" href="../INC/CSS.html">
	<link rel="import" href="../INC/JS.html"/>
</head>
<body>
	<ul class="nav nav-pills">
	    <li role="presentation" class="active"><a href="#">Home</a></li>
	    <li role="presentation"><a href="#">Profile</a></li>
	    <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	      <input type="text" class="form-control" placeholder="Search for...">
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

</body>
</html>